.top_menu.col-md-12
  h3【発注】
  .child_menu.col-md-3
    = button_to '新規発注', "/orders", method: :get, class:"top_button btn btn-primary"
.top_menu.col-md-12
  h3【お弁当】
  .child_menu.col-md-3
    = button_to '一覧を見る', "/products", method: :get, class:"top_button btn btn-primary"
  .child_menu.col-md-3
    = button_to '新規登録', "/products/new", method: :get, class:"top_button btn btn-primary"
.top_menu.col-md-12
  h3【メニュー】
  .child_menu.col-md-3
    = button_to '一覧を見る', "/menus", method: :get, class:"top_button btn btn-primary"
  .child_menu.col-md-3
    = button_to '新規登録', "/menus/new", method: :get, class:"top_button btn btn-primary"
.top_menu.col-md-12
  h3【食材・資材】
  .child_menu.col-md-3
    = button_to '一覧を見る', "/materials", method: :get, class:"top_button btn btn-primary"
  .child_menu.col-md-3
    = button_to '新規登録', "/materials/new", method: :get, class:"top_button btn btn-primary"
.top_menu.col-md-12
  h3【仕入先企業】
  .child_menu.col-md-3
    = button_to '一覧を見る', "/vendors", method: :get, class:"top_button btn btn-primary"
  .child_menu.col-md-3
    = button_to '新規登録', "/vendors/new", method: :get, class:"top_button btn btn-primary"
.top_menu.col-md-12
  h3【棚卸し】
  .child_menu.col-md-3
    = button_to '一覧を見る', "/stocks", method: :get, class:"top_button btn btn-primary"
  .child_menu.col-md-3
    = button_to '新規登録', "/stocks/new", method: :get, class:"top_button btn btn-primary"
