<tr class="nested-fields">
  <td id='select'>
  <%= f.select :material_id, options_from_collection_for_select(Material.all, :id, :name) %>
  </td>
  <td class="aaa">

  </td>

  <td>
  <%= f.number_field :amount_used, step: '0.1', min: '0.0', required: true, :class => 'form-control' %>
  </td>
  <td>
    <%= 0 %>
  </td>
  <td>
  <%= link_to_remove_association '削除', f %>
  </td>

</tr>
