
<div class="material_area">
  <div class="col-md-12" style="margin:5px;">
    <label class="col-md-3">食材名</label>
    <label class="col-md-3">仕込み</label>
    <label class="col-md-3">栄養名</label>
    <label class="col-md-1 text-right">使用量</label>
    <label class="col-md-2">g変換</label>
  </div>
  <ul class='list-group'>
  <% i=0 %>
  <%= f.fields_for :menu_materials do |m| %>
        <% i += 1 %>
    <% end %>
  </ul>
</div>
