.material_area
  .col-md-12[style="margin:5px;"]
    label.col-md-3
      | 食材名
    label.col-md-3
      | 仕込み
    label.col-md-3
      | 栄養名
    label.col-md-1.text-right
      | 使用量
    label.col-md-2
      | g変換
  ul.list-group
    - i=0
    = f.fields_for :menu_materials do |m|
      - i += 1
