.col-md-6
  h4
    | メニュー名「
    =link_to "#{Menu.find(params[:id]).name}", "/menus/#{params[:id]}", method: :get
    |  」を含むお弁当一覧
.col-md-5[style="padding:0px;"]
  .col-md-12[style="padding:0 0 10px 0;"]
    |  ▼チェックの付いたメニューの食材を一括変更する 
  .col-md-4[style="padding:0px;"]
    = select :menu_id,:menu_id, Menu.pluck(:name, :id),{include_blank: true}, class:'all_select_menu'
= form_tag(:controller => "menus", :action => "include_update") do
  .col-md-12
    = submit_tag "メニューの変更", class:"btn btn-success pull-right", data: { confirm: "変更してよろしいですか？"}
  .col-md-12
    .col-md-1
      label
        | all
      input.all_box[type="checkbox"]
    .col-md-3
      |  　弁当名 
    .col-md-2
      |  変更後のメニュー 
  ul.col-md-12.list-group[style="list-style:none;"]
    - i = 0
    - @product_menus.each do |pm|
      li.product_include_menu.col-md-12.list-group-item
        .col-md-1.product_check
          input.form-control[type="checkbox"]
        .col-md-3
          =link_to "#{pm.product.name}", "/products/#{pm.product.id}", method: :get
        .col-md-1[style="display:none;"]
          = text_field_tag :id, pm.id, name:"post[][pm_id]"
        .col-md-2.select_menu
          = select_tag(:menu_id, options_from_collection_for_select(@menus,:id,:name, :selected => pm.menu_id),
          -            include_blank: true,class:"input_select_menu", name:"post[][menu_id]")
      - i += 1
.col-md-12
  = paginate @product_menus
