h3 = @store.name
= link_to 'A商品の発注', crew_orders_path(store_id:@store.id),class:'btn btn-primary'
br
|※前日の夜まで
br
br
= link_to 'B商品の発注（献立）', crew_store_daily_menus_path(store_id:@store.id),class:'btn btn-primary'
br
|※前週水曜に1週間分の確定
br
br
= link_to '進捗ボード', tasks_path(store_id:@store.id),class:'btn btn-primary'
