h3 分析
/ = column_chart @data
canvas#chart1



= form_tag analyses_path, :method => 'get' do
  div
    = date_field_tag :from, params[:from], class:"form-control float-left",style:'width:200px;float:left;'
    div style="float:left;padding:8px;" 〜
    = date_field_tag :to, params[:to], class:"form-control",style:'width:200px;float:left;'

  .col-md-2
    = select_tag 'store_id',options_from_collection_for_select(Store.all, :id, :name,params[:store_id]),include_blank: true, class: "form-control"


  .kensaku.col-md-1
    = submit_tag "検索" ,class:"btn btn-primary"


table.table
  thead
    tr
      th 日付
      th 店舗数
      th 売上
      th 廃棄
      th 廃棄率
      th 合計人件費
      th 営業利益

  tbody
    - (@from..@to).each do |date|
      tr
        td = link_to date.strftime("%Y/%-m/%-d (#{%w(日 月 火 水 木 金 土)[date.wday]})"),date_analyses_path(date:date)
        td = @date_analyses[date].length if @date_analyses[date].present?
        td = @date_sales_amount[date].to_s(:delimited) if @date_sales_amount[date]
        td = @date_loss_amount[date].to_s(:delimited) if @date_loss_amount[date]
        td = "#{((@date_loss_amount[date].to_f/@date_sales_amount[date])*100).round(1)}%" if @date_loss_amount[date] && @date_sales_amount[date]
        td
        td


javascript:
  var ctx = document.getElementById("chart1").getContext('2d');
  ctx.canvas.height = 80;
  var chart1 = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: gon.sales_dates,
      datasets: [{
        type: 'line',
        label: "10日間",
        data: gon.sales_data,
        backgroundColor: 'blue',
        borderColor: 'blue',
        fill: false,
        stacked: false,
        yAxisID: "y-axis-1"
      },{
        type: 'line',
        label: "目標(850個)",
        data: gon.loss_data,
        backgroundColor: 'red',
        borderColor: 'red',
        fill: false,
        stacked: false,
        yAxisID: "y-axis-2",
        pointRadius: 0
      },{
        label: "製造数",
        data: gon.date_sum,
        backgroundColor: 'rgba(0,153,255,0.9)',
        borderColor: 'rgba(0,153,255,0.9)',
        fill: false,
        stacked: false,
        yAxisID: "y-axis-1"
      }]
    },
    options: {
      scales: {
        xAxes: [{
          stacked: true,
          scaleLabel: {
            display: true,
            fontSize: 16
          }
        }],
        yAxes: [{
          stacked: false,
          id: "y-axis-1",
          type: "linear",
          position: "left",
          ticks: {          // スケール
                max: 500000,
                min: 0
            }
        },{
          stacked: false,
          id: "y-axis-2",
          type: "linear",
          position: "right"
        }]
      }
    }
  });
