
<table class='table'>
  <thead>
    <tr>
      <th>日付</th>
      <th>天気</th>
      <th>来客数</th>
      <th style='border-left: 1px solid #d3d3d3;'>スープ</th>
      <th style='border-left: 1px solid #d3d3d3;'>副菜</th>
      <th style='border-left: 1px solid #d3d3d3;'>主菜</th>
      <th style='border-left: 1px solid #d3d3d3;'>スープ大</th>
      <th style='border-left: 1px solid #d3d3d3;'>カレー</th>
      <th style='border-left: 1px solid #d3d3d3;'>弁当</th>
      <th style='border-left: 1px solid #d3d3d3;'>スイーツ</th>
    </tr>
  </thead>
  <tbody>
    <%= @tbody_contents[wday] %>
  </tbody>
</table>
