
<table class='table'>
  <thead>
    <tr>
      <th>日付</th>
      <th>天気</th>
      <th>来客数</th>
      <th>総菜在庫数</th>
      <th>総菜繰越数</th>
      <th>定価販売数</th>
      <th>値引販売数</th>
      <th>廃棄数</th>
      <th>弁当在庫数</th>
      <th>定価販売数</th>
      <th>値引販売数</th>
      <th>廃棄数</th>
    </tr>
  </thead>
  <tbody>
    <%= @tbody_contents[wday] %>
  </tbody>
</table>
