button type="button" class="btn btn-primary" data-toggle="modal" data-target="#used_amount_modal" style='' 業者使用量
#used_amount_modal.modal.fade tabindex="-1"
  = form_tag(monthly_used_amount_vendors_path,method: :get) do
    = hidden_field_tag :vendor_id,@vendor.id
    .modal-dialog style='width:1000px;'
      .modal-content
        .modal-header
          h4.modal-title 年月を選択する
        .modal-body
          .col-md-2
            = select_tag :year, options_for_select([2019,2020,2021]), class: "form-control"
          .col-md-2
            = select_tag :month, options_for_select(1..12), class: "form-control"

        .modal-footer
          = submit_tag "計算する" ,class:"btn btn-primary"


= form_for @vendor do |f|
  - if @vendor.errors.any?
    #error_explanation
      h2
        = pluralize(@vendor.errors.count, "error")
        |  prohibited this recipe from being saved:
      ul
        - @vendor.errors.full_messages.each do |message|
          li
            = message
  .form-group
    = f.label :company_name, "企業名"
    = f.text_field :company_name, required: true, class:"form-control"
  .form-group
    = f.label :company_phone, "電話番号"
    = f.text_field :company_phone, class:"form-control"
  .form-group
    = f.label :company_fax, "FAX番号"
    = f.text_field :company_fax, class:"form-control"
  .form-group
    = f.label :efax_address, "eFAX送信用のメールアドレス「81 + fax番号(先頭の0無し) + @efaxsend.com」"
    = f.text_field :efax_address, class:"form-control"
  .form-group
    = f.label :company_mail, "メールアドレス"
    = f.text_field :company_mail, class:"form-control"
  .form-group
    = f.label :zip, "郵便番号"
    = f.text_field :zip, class:"form-control"
  .form-group
    = f.label :address, "住所"
    = f.text_field :address, class:"form-control"
  .form-group
    = f.label :staff_name, "担当者名"
    = f.text_field :staff_name, class:"form-control"
  .form-group
    = f.label :staff_phone, "担当者電話番号"
    = f.text_field :staff_phone, class:"form-control"
  .form-group
    = f.label :staff_mail, "担当者メールアドレス"
    = f.text_field :staff_mail, class:"form-control"
  .form-group
    = f.label :memo, "メモ"
    = f.text_area :memo, class:"form-control",style:"height:10em;"
  .action
    input.btn.btn-success[type="button" onclick="submit();" value="登録する"]
