.form-inline.col-md-12[style="padding:10px;"]
  = link_to '新規登録',new_vendor_path,class:'btn btn-primary'

table.table
  thead
    tr
      th 企業名
      th TEL
      th FAX
      th eFAXメール
      th mail
      th 郵便番号
      th 住所
      th 担当者
      th 担当TEL
      th 担当mail
  tbody
    - @vendors.each do |vendor|
      tr
        td = link_to vendor.company_name,edit_vendor_path(vendor)
        td = vendor.company_phone
        td = vendor.company_fax
        td = vendor.efax_address
        td = vendor.company_mail
        td = vendor.zip
        td = vendor.address
        td = vendor.staff_name
        td = vendor.staff_phone
        td = vendor.staff_mail
