.form-inline.col-md-12[style="padding:10px;"]

  .col-md-1
    = link_to '新規登録',new_vendor_path,class:'btn btn-primary'
  .col-md-1
    = link_to 'すべての企業',vendors_path(all_flag:true),class:'btn btn-default'
  .col-md-10
    .pull-right
      = form_tag vendors_path, :method => 'get' do
        = hidden_field_tag :monthly_price ,true
        = select_tag :year, options_for_select([2021,2020,2019],params[:year]), include_blank: 'year', class:"form-control "
        = select_tag :month, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12],params[:month]), include_blank: 'month', class:"form-control"
        = submit_tag "計算" ,class:"btn btn-primary"

table.table.table-striped
  thead
    tr
      th 企業名
      th 担当者
      th 担当TEL
      th TEL
      th FAX
      - if @monthly_orders.present?
        th
          div = " #{@year}年#{@month}月 発注"
          div = "#{@monthly_orders.values.inject(:+).floor.to_s(:delimited)}円"
      - if @monthly_useds.present?
        th
          div = "#{@year}年#{@month}月 使用"
          div = "#{@monthly_useds.values.inject(:+).floor.to_s(:delimited)}円"

  tbody
    - @vendors.each do |vendor|
      tr
        td = link_to vendor.company_name,edit_vendor_path(vendor)
        td = vendor.staff_name
        td = vendor.staff_phone
        td = vendor.company_phone
        td = vendor.company_fax
        - if @monthly_orders.present?
          td
            - if @monthly_orders[vendor.id].present?
              = "#{@monthly_orders[vendor.id].floor.to_s(:delimited)}円"
        - if @monthly_useds.present?
          td
            - if @monthly_useds[vendor.id].present?
              = "#{@monthly_useds[vendor.id].floor.to_s(:delimited)}円"
