= form_for(kurumesi_order, data: { remote: true } ) do |f|
  = f.hidden_field :id,class:'kurumesi_order_id'
  = f.check_box :special_response_flag,class:'form-control special_response_check_box',style:'width:30px;float:left;'
