/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require jquery.datetimepicker
 */

@import "print.scss";
@import 'jquery-ui';


  .class-holiday > .ui-state-default {
  background: #FFFFCC !important;
  color: red !important;
  }
  .class-sunday > .ui-state-default {
  background: #FFCCCC !important;
  color: red !important;
  }
  .class-saturday > .ui-state-default {
  background: #CCCCFF !important;
  color: blue !important;
  }
  .is-holiday{
    background-color:red;
  }

.ui-helper-hidden-accessible {
  display: none;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.check_box{
  text-align: left;
}
.li1:hover{
  background-color: #EEEEEE;
}

.top_menu {
  margin-bottom: 40px;
}

.all_body{
   padding: 0 20px 0 20px;
 }
.footer{
  height: 30px;
}
.menu_li{
  padding-left: 10px;
}

//top/index
#scroll {
  height: 120px;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}


.menu_cost_price{
  text-align: right;
}
.result{
  width: 240px;
  max-height: 300px;
  overflow: scroll;
  z-index: 1;
  position: absolute;
  background-color: #FAFAFA;
  margin: 3px 0 0 10px;
  padding: 0 0 0 5px;
  text-align: left;
  list-style: none;
}


.amount_used_select{
  text-align: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc
}



.removetd{
  text-align: right;
}
.action{
  text-align: center;
  padding-top: 50px;
}


.img_outer{
    position: relative;
    width: 480px; /* 領域の幅を指定 */
    height: 480px; /* 領域の高さを指定 */
    margin: 1em 0;
    border: 1px solid #333;
    background-color: #9e9;
}

/* 画像に対して指定する class */
.inner_photo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
//
//
// // order/edit
// .table{
//   table-layout: fixed;
//   .order_materials_tr{
//     padding:3px;
//     td{
//       padding: 4px;
//       height: 100%;
//     }
//   }
// }
