.li1:hover{
  background-color: #EEEEEE;
}
    .menu_cost_price{
      text-align: right;
    }
    .result{
      width: 240px;
      max-height: 300px;
      overflow: scroll;
      z-index: 1;
      position: absolute;
      background-color: #FAFAFA;
      margin: 3px 0 0 10px;
      padding: 0 0 0 5px;
      text-align: left;
      list-style: none;
    }

    .search_material{
      position: relative;
    }


    .amount_used_select{
      text-align: right;
      -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */
      -moz-border-radius: 3px;
      border-radius: 3px;        /* CSS3草案 */
      border: 1px solid #ccc
    }

    .price_used{
      text-align: right;
    }

    .cost_price{
      text-align: right;
    }

    .removetd{
      text-align: right;
    }
    .action{
      text-align: center;
      padding-top: 50px;
    }
    .cost_price_td{
      text-align: right;
    }
