.col-md-6
  h4
    |材料名「
    =link_to "#{Material.find(params[:id]).name}", "/materials/#{params[:id]}", method: :get
    |」を含むmenu一覧
.col-md-5 style="padding:0px;"
  .col-md-12 style="padding:0 0 10px 0;"
    |▼チェックの付いたメニューの食材を一括変更する
  .col-md-4 style="padding:0px;"
    = select :material_id,:material_id, Material.where(end_of_sales:0).pluck(:name, :id),{include_blank: true}, class:'all_select_material'
= form_tag(:controller => "materials", :action => "include_update") do
  = hidden_field_tag "material_id",params[:id]
  .col-md-12
    = submit_tag "材料の変更", class:"btn btn-success pull-right", data: { confirm: "変更してよろしいですか？"}
  .col-md-12
    .col-md-1
      label all
      input.all_box type="checkbox"
    .col-md-3
      |  メニュー名
    .col-md-2
      |  使用量
    .col-md-2
      |  変更後の材料
  ul.col-md-12.list-group style="list-style:none;"
    - i = 0
    - @menu_materials.each do |mm|
      li.menu_include_material.col-md-12.list-group-item
        .col-md-1.menu_check
          input.form-control type="checkbox"
        .col-md-3
          =link_to "#{mm.menu.name}", "/menus/#{mm.menu.id}", method: :get
        .col-md-2
          = mm.amount_used
          = mm.material.calculated_unit
        .col-md-1 style="display:none;"
          = text_field_tag :id, mm.id, name:"post[][mm_id]"
        .col-md-2.select_material
          = select_tag(:material_id, options_from_collection_for_select(@materials,:id,:name, :selected => mm.material_id), include_blank: true,class:"input_select_material", name:"post[][material_id]")
      - i += 1
.col-md-12
  = paginate @menu_materials
