<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
  <li><a href="/materials">食材資材一覧</a></li>
	<li class="active">新規作成</li>
</ol>
<%= render 'form', path: materials_path, method: :post, locals: {edit_flag:false} %>
