/ H3 = "#{@to.strftime("%-m月%-d日")}：販売・製造目標達成率は#{@tasseiritsu}％"
/ canvas#chart1
/ h3 屋号別データ
/ h4 枡々
/ canvas#chart2
/
/ h4 HASI TO SAJI
/ canvas#chart3
/
/ h4 DONBURI TOKYO
/ canvas#chart4
/
/ h4 涼風
/ canvas#chart5
/
/
/ canvas#chartp
/
/
/ javascript:
/   var date = []
/   gon.idoheikin.unshift(NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN);
/   gon.masu_idoheikin.unshift(NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN);
/   gon.hasi_idoheikin.unshift(NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN);
/   gon.don_idoheikin.unshift(NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN);
/   gon.suzu_idoheikin.unshift(NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN);
/
/   $.each(#{@dates}, function(index, value) {
/     var day = new Date( value * 1000 );
/     var y = day.getFullYear();
/     var m = (day.getMonth()+1);
/     var d = day.getDate();
/     var result = m + "/" + d;
/     date.push(result)
/   })
/
/
/   var ctxp = document.getElementById("chartp").getContext('2d');
/   ctxp.canvas.height = 50;
/   var myChart = new Chart(ctxp, {
/     type: 'pie',
/     data: {
/       labels: ["M", "T", "W", "T", "F", "S", "S"],
/       datasets: [{
/         data: gon.date_sum
/       }]
/     }
/   });
/
/   var ctx = document.getElementById("chart1").getContext('2d');
/   ctx.canvas.height = 80;
/   var chart1 = new Chart(ctx, {
/     type: 'bar',
/     data: {
/       labels: date,
/       datasets: [{
/         type: 'line',
/         label: "10日間",
/         data: gon.idoheikin,
/         backgroundColor: 'blue',
/         borderColor: 'blue',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       },{
/         type: 'line',
/         label: "目標(850個)",
/         data: gon.mokuhyo,
/         backgroundColor: 'red',
/         borderColor: 'red',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1",
/         pointRadius: 0
/       },{
/         label: "製造数",
/         data: gon.date_sum,
/         backgroundColor: 'rgba(0,153,255,0.9)',
/         borderColor: 'rgba(0,153,255,0.9)',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       }]
/     },
/     options: {
/       scales: {
/         xAxes: [{
/           stacked: true,
/           scaleLabel: {
/             display: true,
/             fontSize: 16
/           }
/         }],
/         yAxes: [{
/           stacked: false,
/           id: "y-axis-1",
/           type: "linear",
/           position: "left"
/         }]
/       }
/     }
/   });
/
/   var ctx2 = document.getElementById("chart2").getContext('2d');
/   ctx2.canvas.height = 50;
/   var chart2 = new Chart(ctx2, {
/     type: 'bar',
/     data: {
/       labels: date,
/       datasets: [{
/         type: 'line',
/         label: "10日間",
/         data: gon.masu_idoheikin,
/         backgroundColor: 'blue',
/         borderColor: 'blue',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       },{
/         label: "枡々",
/         data: gon.masu_date_sum,
/         backgroundColor: 'rgba(192,192,192,0.9)',
/         borderColor: 'rgba(192,192,192,0.9)',
/         stack: "aa",
/         fill: false,
/         yAxisID: "y-axis-1"
/       }]
/     },
/     options: {
/       scales: {
/         xAxes: [{
/           stacked: true,
/           scaleLabel: {
/             display: true,
/             fontSize: 16
/           }
/         }],
/         yAxes: [{
/           stacked: false,
/           id: "y-axis-1",
/           type: "linear",
/           position: "left",
/           ticks: {
/             beginAtZero: true,
/             min: 0,
/             max: 300
/           }
/         }]
/       }
/     }
/   });
/
/   var ctx3 = document.getElementById("chart3").getContext('2d');
/   ctx3.canvas.height = 50;
/   var chart3 = new Chart(ctx3, {
/     type: 'bar',
/     data: {
/       labels: date,
/       datasets: [{
/         type: 'line',
/         label: "10日間",
/         data: gon.hasi_idoheikin,
/         backgroundColor: 'blue',
/         borderColor: 'blue',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       },{
/         label: "製造数",
/         data: gon.hasi_date_sum,
/         backgroundColor: 'rgba(192,192,192,0.9)',
/         borderColor: 'rgba(192,192,192,0.9)',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       }]
/     },
/     options: {
/       scales: {
/         xAxes: [{
/           stacked: true,
/           scaleLabel: {
/             display: true,
/             fontSize: 16
/           }
/         }],
/         yAxes: [{
/           stacked: false,
/           id: "y-axis-1",
/           type: "linear",
/           position: "left",
/           ticks: {
/             beginAtZero: true,
/             min: 0,
/             max: 300
/           }
/         }]
/       }
/     }
/   });
/
/   var ctx4 = document.getElementById("chart4").getContext('2d');
/   ctx4.canvas.height = 50;
/   var chart4 = new Chart(ctx4, {
/     type: 'bar',
/     data: {
/       labels: date,
/       datasets: [{
/         type: 'line',
/         label: "10日間",
/         data: gon.don_idoheikin,
/         backgroundColor: 'blue',
/         borderColor: 'blue',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       },{
/         label: "製造数",
/         data: gon.don_date_sum,
/         backgroundColor: 'rgba(192,192,192,0.9)',
/         borderColor: 'rgba(192,192,192,0.9)',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       }]
/     },
/     options: {
/       scales: {
/         xAxes: [{
/           stacked: true,
/           scaleLabel: {
/             display: true,
/             fontSize: 16
/           }
/         }],
/         yAxes: [{
/           stacked: false,
/           id: "y-axis-1",
/           type: "linear",
/           position: "left",
/           ticks: {
/             beginAtZero: true,
/             min: 0,
/             max: 300
/           }
/         }]
/       }
/     }
/   });
/
/   var ctx5 = document.getElementById("chart5").getContext('2d');
/   ctx5.canvas.height = 50;
/   var chart5 = new Chart(ctx5, {
/     type: 'bar',
/     data: {
/       labels: date,
/       datasets: [{
/         type: 'line',
/         label: "10日間",
/         data: gon.suzu_idoheikin,
/         backgroundColor: 'blue',
/         borderColor: 'blue',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       },{
/         label: "製造数",
/         data: gon.suzu_date_sum,
/         backgroundColor: 'rgba(192,192,192,0.9)',
/         borderColor: 'rgba(192,192,192,0.9)',
/         fill: false,
/         stacked: false,
/         yAxisID: "y-axis-1"
/       }]
/     },
/     options: {
/       scales: {
/         xAxes: [{
/           stacked: true,
/           scaleLabel: {
/             display: true,
/             fontSize: 16
/           }
/         }],
/         yAxes: [{
/           stacked: false,
/           id: "y-axis-1",
/           type: "linear",
/           position: "left",
/           ticks: {
/             beginAtZero: true,
/             min: 0,
/             max: 300
/           }
/         }]
/       }
/     }
/   });
