
h4
  b べじはんが健康的な食生活をサポート！
p 柴田屋グループ社員の方は、べじはんでのお食事のお買い物に、新たに福利厚生として、食事補助（30%）が適用されることになりました。
p これまでの社割も同様にご使用いただけますので、定価の50%で食事を購入することができます。
br
p 例
p 定価1,000円のお弁当
p 社割： -200円
p 食事補助： -300円
b 社員の負担金額 500円
br
br
b 社割：
p べじはんのお惣菜が20%割引となります。（※一部商品を除く）
b 福利厚生 食事補助：
p お会計の30%を福利厚生として会社として補助。月間の上限は3,500円。
br
h4
  b 福利厚生（30%引き）の使い方
p 1.本予約サイトからご注文をお願いいたします。
p 2.予約は当日の13時まで可能です（3日後まで可能となっております）
p 3.商品は店頭でご用意しておきますので、時間頃にお店にお伺い下さい。
p 4.こちらのサイトからのご注文は、給与天引きとなりますので、店頭でのお支払いは不要です。
br
b 給与天引きについて
p 福利厚生の金額等を集計するため、こちらのサイト上からの注文の履歴を残す必要があります。
p 店頭での計算を間違えてしまうことを防ぐために、このサイトで注文した分は社員負担分もあわせて給与天引きとさせていただくような運用になりました。
p 月次で集計して総務チームと連携致します。
p 明細はご確認できるように準備中です。
br
b その他
p 福利厚生は月3,500円が上限になりますので、ご注意下さい。
p ここにない商品は、福利厚生の対象外となりますので、店頭にて別途ご注文の上、お会計ください。
p 欠品等の場合はご連絡させていただく場合がございます。
