.fixed-box-yoko-tate
  table.shift_table
    thead
      tr
        - @tables[0].each_with_index do |data,ind|
          - if ind == 0
            th.fixed01 style="width:160px;" =data
          - elsif ind < 3
            th.fixed01 style="width:70px;" =data
          - else
            th.fixed02 =data
    tbody
      - @tables[1..-1].each_with_index do |data,tr_i|
        tr
          - data.each_with_index do |td,index|
            - if index == 0
              td.fixed02 style="width:200px;" = td
            - else
              td = td

css:
  .shift_table tr:nth-child(odd) td {
    background-color: #fff;
    color:silver;
  }
  .shift_table tr:nth-child(even) td {
    background-color: #EAF6FD;
    font-weight:bold;
  }
  .shift_table tr td:nth-of-type(1){
    color:black;
    font-size:18px;
    padding:3px 10px;
  }
  .shift_table tr td:nth-of-type(2){
    color:black;
  }
  div.fixed-box-yoko-tate {
    width:1000px;
    height:750px;
    background: #fff;
    border:1px solid #dc6000;
    overflow:auto;
  }
  table.shift_table {
    width: 1000px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    table-layout: fixed;
  }
  table.shift_table th, table.shift_table td {
    width:60px;
    vertical-align: middle;
    padding: 2px 5px;
    border: 1px solid #ccc;
  }


  table.shift_table .fixed01,
  table.shift_table .fixed02 {
    position: sticky;
    top: 0;
    left: 0;
    background: #dc6000;
  }
  table.shift_table .fixed01:before,
  table.shift_table .fixed02:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
  table.shift_table .fixed01 {
    z-index: 2;
  }
  table.shift_table .fixed02 {
    z-index: 1;
  }
