
<tr class="nested-fields">
  <td>
  <%= f.select :menu_id, options_from_collection_for_select(Menu.all, :id, :name), class: 'searchable' %>
  </td>
  <td>

  </td>
  <td>
  <%= link_to_remove_association '削除', f %>
  </td>
</tr>
