li.add_li_menu.col-md-12.list-group-item.nested-fields.field[style="padding:5px 5px;"]
  .row_order[style="display:none;"]
    = f.number_field :row_order, class:"input_row_order form-control"
  .category_select.col-md-1
    = select :category,:category, Menu.categories.keys.to_a, {}, class: 'input_category_select form-control'
  .select_menu.col-md-2
    = f.select :menu_id, Menu.pluck(:name, :id),{include_blank: true}, class:'input_select_menu'
    div
      |  カロリー：
      span.product_make_menu_calorie
        = f.object.menu.menu_materials.sum(:calorie).round(2) if f.object.menu.present?
      |  kcal
  .cost_price.col-md-1
    = f.object.menu.cost_price if f.object.menu.present?
  .material_name.col-md-6
    ul[style="list-style:none;padding:0;"]
      - if f.object.menu.present?
        - f.object.menu.menu_materials.each do |mm|
          li.col-md-12
            .col-md-4
              = mm.material.name
            .col-md-2.text-right
              = mm.amount_used
              = mm.material.calculated_unit
            .col-md-2.text-right
              = (mm.amount_used * mm.material.cost_price).round(1)
            .col-md-4
              = mm.preparation
  .remove_menu.col-md-1.text-right
    = link_to_remove_association '削除', f,class:'remove_menu_btn btn btn-danger'
