<%= form_tag("/products/new_band.pdf", method: "get") do %>
  <table class='table'>
    <thead>
      <tr>
        <th>メイン</th>
        <th>2種目の弁当</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= collection_select(:product, :id_1, Product.where(product_type:'新ヘルシー'), :id, :name,{},{class:'select2'}) %></td>
        <td><%= collection_select(:product, :id_2, Product.where(product_type:'新ヘルシー'), :id, :name,{},{class:'select2'}) %></td>
      </tr>
    </tbody>
  </table>
  <%= submit_tag "帯作成",class:'btn btn-primary pull-right' %>
<% end %>
