<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
  <li><a href="/products">お弁当一覧</a></li>
	<li class="active">新規作成</li>
</ol>

<%= render 'form', path: products_path, method: :post, locals: {new_flag:true} %>
