/ head
/   title
/     | Order
/   = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
/   = javascript_include_tag 'application', 'data-turbolinks-track' => true
/   = csrf_meta_tags
/   link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"
/   script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
/   script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
/   script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
/   link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet"
/   script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"
/   .all_body
/     .col-md-12.form-inline
/       input#amount_number_input.form-control.text-right[type="number" placeholder="食数を入力"]
/       input#amount_calculation.btn.btn-primary[type="button" onclick="" value="計算"]
/
/       .col-md-12[style="margin-top:20px;"]
/         label.col-md-3
/           | 弁当名
/         label.col-md-3
/           | 調理カテゴリー
/         label.col-md-3
/           | 弁当種類
/         label.col-md-3
/           | 原価価格
/       li.list-group-item.col-md-12
/         .col-md-3
/           = @product.name
/         .text-right.col-md-3
/           = @product.cost_price
/           | 円
/       .col-md-8[style="margin-top:20px;"]
/         label.col-md-2
/           | メニュー名
/         label.col-md-3
/           | 盛り付けメモ
/         label.col-md-2
/           | 材料名
/         label.col-md-3
/           | 1人分
/         label.calculate_amount_used_th.col-md-2[style="display: none; font-size:20px;font-weight:bold; "]
/       ul.list-group.col-md-8[style="list-style:none;"]
/         - @menus.each do |menu|
/           li.product_menus.col-md-12.list-group-item[style="padding:3;"]
/             .col-md-2
/               = menu.name
/             .col-md-3
/               = simple_format(menu.serving_memo)
/             - i = 1
/             - u = menu.materials.length
/             ul.col-md-7.menu_materials[style="list-style:none;padding:0;"]
/               - menu.menu_materials.each do |mm|
/                 li.menu_materials_li.col-md-12[style="padding:0;"]
/                   .col-md-4.menu_materials_name[style="padding:2px 2px;"]
/                     = mm.material.name
/                   .col-md-2.original_amount_used.form-inline.text-right[style="padding:0;"]
/                     .original_amount_used_value.text-right.form-group
/                       = mm.amount_used
/                     .form-group
/                       = mm.material.recipe_unit
/                     .recipe_unit_quantity[style="display:none;"]
/                       = mm.material.recipe_unit_quantity
/                     .order_unit[style="display:none;"]
/                       = mm.material.order_unit
/                   .recipe_unit.col-md-4.form-inline.text-right
/                     .calculate_amount_used.form-group[style="display:none;font-weight:bold; font-size:20px;"]
/                     .form-group[style="display:none;font-weight:bold;"]
/                       = mm.material.recipe_unit
/                   .cal_val_order_unit.col-md-2.form-inline[style="padding:0;"]
/                     .calculate_amount_used.form-group
/                     .form-group[style="display:none;padding:0;"]
/                       = mm.material.order_unit
/
/       .image_l.col-md-4
/         = image_tag @product.image.to_s, class:"img-responsive"
