= form_for(working_hour, data: { remote: true }, html: { class: "working_hour_store_form_#{working_hour.id}" }) do |f|
  = f.hidden_field :id,class:'working_hour_id'
  = f.select :chori_of_working_time, options_for_select([1,2,3,4,5,6,7,8,9,10,11,12]), include_blank:true, class:"form-control"
